$backgroundcolor: #fff5da ;
$fontcolor: #161514 ;
$darkfontcolor: #161514 ;
$cardcolor: #fffaed ;
$cardhovercolor: #f4a127 ;
$footercolor: #f4a127;

//background
$bk-light: #ffefc0;
$bk-brown: #553a2a;
$bk-orange: #d77526;
$bk-turq: #76c7ad;


//$cardcolor: #b85c3c ;
//$fontcolor: #fff6e9 ;