footer {
    padding: 1rem;
    background-color: $footercolor;
    text-align: center;
    color: $darkfontcolor;
    padding-top: 4rem; 
    a{
        color: $darkfontcolor;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}