.game-card {
	width: 70%;
	height: 8rem;
	background-color: $cardcolor;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 15px;
	border: 2px solid $cardcolor;
	box-shadow: 0px 4px 8px 0px #00000045;
	overflow: visible;
	color: $fontcolor;
	&:hover,
	:focus {
		background-color: $cardhovercolor;
		border: 2px solid $cardhovercolor;
		color: $cardhovercolor;

		.card-title {
			font-size: 1px;
			color: $cardhovercolor;
			padding-top: 0;
		}
		.card-view {
			font-size: 1rem;
			color: $darkfontcolor;
			padding-top: 0.3rem;
		}
	}
	a:focus {
		outline: 2px solid $darkfontcolor;
		border-radius: 15px;
	}

	a {
		height: 100%;
		width: 100%;
		text-decoration: none;
		color: $darkfontcolor;
		img {
			width: 100%;
			height: 60%;
			object-fit: cover;
			border-top-right-radius: 15px;
			border-top-left-radius: 15px;
		}
		.card-title {
			font-size: 0.9rem;
			text-align: center;
			padding-top: 0.2rem;
		}
		.card-view {
			font-size: 1px;
			color: $cardcolor;
			display: block;
			text-align: center;
			text-decoration: underline;
			font-weight: bold;
		}

		.card-genre {
			display: flex;
			justify-content: center;
			gap: 0.3rem;
			overflow: clip;
			color: $darkfontcolor;
			span {
				font-size: 0.4rem;
				text-transform: uppercase;
				color: inherit;
			}
		}
	}
}

.favourites {
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		.fave-card {
			display: flex;
			align-items: center;
			margin: 0.5rem auto;
			border-radius: 15px;
			background-color: $cardcolor;
			width: 85%;
			border: 2px solid $cardcolor;
			box-shadow: 0px 4px 8px 0px #00000045;
			&:hover,
			:focus {
				background-color: $cardhovercolor;
				border: 2px solid $cardhovercolor;
				color: $cardhovercolor;
			}
			a:focus {
				outline: 2px solid $darkfontcolor;
				border-radius: 15px;
			}

			img {
				max-width: 50%;
				border-top-left-radius: 15px;
				border-bottom-left-radius: 15px;
			}
			h3 {
				width: 80%;
				color: $fontcolor;
				background-color: rgba(0, 0, 0, 0);
				border: none;
				font-size: 0.9rem;
				text-align: center;
				&:hover {
					color: $darkfontcolor;
					transition: ease-in-out 0.2s;
					text-decoration: underline;
				}
			}
			.fa-chevron-right {
				font-size: 1rem;
				padding-right: 0.5rem;
			}
		}
	}
}
