header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: $cardhovercolor;
	a {
		text-decoration: none;
		color: $fontcolor;
		h1 {
			text-decoration: none;
			color: $fontcolor;
		}
	}
	nav {
		a {
			text-decoration: none;
			color: $fontcolor;
			&:hover {
				text-decoration: underline;
			}
		}
		ul {
			display: flex;
			list-style: none;
			gap: 1rem;
		}
	}
}
