header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: $cardhovercolor;
	a {
		text-decoration: none;
		color: $darkfontcolor;
		h1 {
			text-decoration: none;
			color: $darkfontcolor;
			font-size: 0.9rem;
		}
	}
	nav {
		a {
			text-decoration: none;
			color: $darkfontcolor;
			font-size: 0.8rem;
			&:hover {
				text-decoration: underline;
			}
		}
		ul {
			display: flex;
			list-style: none;
			gap: 1rem;
		}
	}
}

.breadcrumb-not-active {
	display: none;
}

.breadcrumb-active {
	color: $darkfontcolor;
	font-size: 0.7rem;
}
