@import "colors.scss";
@import "gamecards.scss";
@import "dashboard.scss";
@import "header.scss";
@import "footer.scss";
@import "gamepage.scss";



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 0.7rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: $backgroundcolor;
	color: $fontcolor;
}

html {
	font-size: calc(1em + 1vw);
}
